@model Proj.Models.Wiki

@{
    ViewBag.Title = "Edit wiki";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Wiki"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(b => b.WikiId)
    <br />
    <br />

    @Html.Label("Description", "Description:")
    <br />
    @Html.TextAreaFor(b => b.Description, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.Description, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("BirthYear", "Birth Year:")
    <br />
    @Html.EditorFor(b => b.BirthYear, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.BirthYear, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("BirthMonth", "Birth Month:")
    <br />
    @Html.EditorFor(b => b.BirthMonth, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.BirthMonth, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("BirthDay", "Birth Day:")
    <br />
    @Html.EditorFor(b => b.BirthDay, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.BirthDay, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("DebutYear", "Debut Year:")
    <br />
    @Html.EditorFor(b => b.DebutYear, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.DebutYear, "", new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-outline-dark" type="submit">Edit</button>
}